<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Direct messages
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">

    <form action="/insert_direct_message" method="post">

      <div class="form-group">
        <label for="receiver_id_box">
          To:
        </label>

        <% if @current_user.provider == true %> 

        <select name="receiver_id_from_query" id="receiver_id_box" class="form-control">
          <% @current_user.user_provider_subscribers.each do |family| %>

          <option value="<%= family.id %>"> <%= family.name %> </option>
          
          <% end %>
  
        </select>

        <% else %> 

        <select name="receiver_id_from_query" id="receiver_id_box" class="form-control">
          <% @current_user.my_providers.each do |family| %>

          <option value="<%= family.id %>"> <%= family.name %> </option>
          
          <% end %>
  
        </select>

        <% end %> 

      </div>

      <div class="form-group">
        <label for="body_box">
          Message
        </label>

        <textarea id="body_box" name="body_from_query" class="form-control" rows="3"></textarea>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Send direct message
      </button>
    </form>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <h2>
      Inbox
    </h2>
    </div>
    </div>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          From:
        </th>

        <th>
          Message
        </th>

        <th>
          Sent
        </th>

      </tr>

      <% @current_user.direct_messages.each do |direct_message| %>
      <tr>

        <td>
          <%= direct_message.sender.name %>
        </td>

        <td>
          <%= direct_message.body %>
        </td>

        <td>
          <%= time_ago_in_words(direct_message.created_at) %> ago
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <h2>
      Sent
    </h2>
    </div>
    </div>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          To:
        </th>

        <th>
          Message
        </th>

        <th>
          Sent
        </th>

      </tr>

      <% @current_user.sent_messages.each do |direct_message| %>

      <tr>

        <td>
          <%= direct_message.receiver.name %>
        </td>

        <td>
          <%= direct_message.body %>
        </td>

        <td>
          <%= time_ago_in_words(direct_message.created_at) %> ago
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>
