<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      <%= @current_user.name %>, welcome to your dashboard
    </h1>
  </div>
</div>

<% if @current_user.provider == true %>

 <div class="row mb-3">
  <div class="col-md-12">
    <h2>
      Latest direct message
    </h2>
    <dl>

    <% if @current_user.direct_messages.at(0) != nil %> 

  <div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Sender
        </th>

        <th>
          Message
        </th>

        <th>
          Sent 
        </th>

        <th>
        <a href="/direct_messages">View and send messages</a>
        </th>

      </tr>

      <% @current_user.direct_messages.each do |direct_message| %>
      <tr>


        <td>
          <%= direct_message.at(0).sender %>
        </td>


        <td>
          <%= direct_message.at(0).body %>
        </td>

        <td>
          <%= time_ago_in_words(direct_message.at(0).created_at) %> ago
        </td>

          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

   <% else %> 

      <dt>
        You have no direct messages. Please check back soon. 
      </dt>
      <dt>
      <a href="/direct_messages">Send a message.</a>
      </dt>
      
      <% end %> 

      </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <h2>
      Your last update
    </h2>
    <dl>

    <% if @current_user.user_provider_updates.at(0) != nil %> 

      <dt>
        Date
      </dt>
      <dd>
        <%= @current_user.user_provider_updates.at(0).date.to_formatted_s(:long) %>
      </dd>

      <dt>
        Reminders
      </dt>
      <dd>
        <%= @current_user.user_provider_updates.at(0).reminders %>
      </dd>

      <dt>
        Meals and snacks
      </dt>
      <dd>
        <%= @current_user.user_provider_updates.at(0).meals_and_snacks %>
      </dd>

      <dt>
        Activities
      </dt>
      <dd>
        <%= @current_user.user_provider_updates.at(0).activities %>
      </dd>

      <dt>
        <a href="/updates">Add new updates</a>
      </dt>

    </dl>
  </div>
</div>



 <% else %> 

      <dt>
        You have not posted an update. <a href="/updates">Update your families.</a>
      </dt>
      
      <% end %> 

      <div class="row mb-3">
  <div class="col-md-12">
    <h2>
      Next calendar item
    </h2>
    <dl>

    <% if @current_user.my_calendar.at(0) != nil %> 

  <div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Date
        </th>

        <th>
          Event
        </th>

        <th>
        <a href="/calendars">View full calendar</a>
        </th>

      </tr>

      <% @current_user.my_calendar.each do |direct_message| %>
      <tr>


        <td>
          <%= my_calendar.at(0).date %>
        </td>


        <td>
          <%= my_calendar.at(0).description %>
        </td>

        <td>
          
        </td>

          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

   <% else %> 

      <dt>
        You have not added any events. <a href="/calendars">Update your families.</a>
      </dt>
      
      <% end %> 

      <hr>
<div class="row mb-3">
  <div class="col-md-12">
    <h2>
      Your subscribers
    </h2>
    <dl>

    <% if @current_user.user_provider_subscribers.at(0) != nil %> 

    <div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
         <th>
          Name
        </th>

        <th>
        Email
        </th>

         <th>
        Child name
        </th>

          <th>
        
        </th>

      </tr>

      <% @current_user.user_provider_subscribers.each do |family| %>
      <tr>
        
         <td>
          <%= family.name %>
        </td>

        <td>
          <%= family.email %>
        </td>

        <td>
          <%= family.child_name %>
        </td>

         <td>
      <form action="/delete_enrollment/<%= family.id =%>" method="get">
      <button class="btn btn-block btn-outline-secondary">
        Delete enrollment
      </button>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<% else %> 

      <dt>
        You do not have any subscribers. Please check back soon. 
      </dt>
      
      <% end %>

<% else %>




<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Your providers
    </h2>
    <dl>

    <% if @current_user.my_providers.at(0) != nil %> 

    <div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
         <th>
          Name
        </th>

        <th>
        Administrator
        </th>

        <th>
        </th>
      </tr>

      <% @current_user.my_providers.each do |provider| %>
      <tr>
        
         <td>
          <%= provider.name %>
        </td>

        <td>
          <%= provider.admin_name %>
        </td>

        <td>
      <form action="/unsubscribe/<%= provider.id =%>" method="get">
      <button class="btn btn-block btn-outline-secondary">
        Unsubscribe
      </button>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<% else %> 

      <dt>
        You are not subscribed to any providers. <a href="/providers">Subscribe now.</a>
      </dt>
      
      <% end %>

      <hr>

<div class="row mb-3">
  <div class="col-md-12">
    <h2>
      Latest update
    </h2>
    <dl>

    <% if @current_user.my_latest_update != nil %> 

      <dt>
        Date
      </dt>
      <dd>
        <%= @current_user.my_latest_update.date.to_formatted_s(:long) %>
      </dd>

      <dt>
        Provider
      </dt>
      <dd>
        <%= @current_user.my_latest_update.author %>
      </dd>

      <dt>
        Reminders
      </dt>
      <dd>
        <%= @current_user.my_latest_update.reminders %>
      </dd>

      <dt>
        Meals and snacks
      </dt>
      <dd>
        <%= @current_user.my_latest_update.meals_and_snacks %>
      </dd>

      <dt>
        Activities
      </dt>
      <dd>
        <%= @current_user.my_latest_update.activities %>
      </dd>

      <dt>
        <a href="/updates">See all updates</a>
      </dt>

    </dl>
  </div>
</div>



 <% else %> 

      <dt>
        Your providers have not posted an update. Please check back soon. 
      </dt>
      
      <% end %> 
<hr>


  <div class="row mb-3">
  <div class="col-md-12">
    <h2>
      Latest direct message
    </h2>
    <dl>

    <% if @current_user.direct_messages.at(0) != nil %> 

  <div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Sender
        </th>

        <th>
          Message
        </th>

        <th>
          Sent 
        </th>

        <th>
        <a href="/direct_messages">View and send messages</a>
        </th>

      </tr>

      <% @current_user.direct_messages.each do |direct_message| %>
      <tr>


        <td>
          <%= direct_message.at(0).sender %>
        </td>


        <td>
          <%= direct_message.at(0).body %>
        </td>

        <td>
          <%= time_ago_in_words(direct_message.at(0).created_at) %> ago
        </td>

          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

   <% else %> 

      <dt>
        Your providers have not sent any direct messages. Please check back soon. 
      </dt>
      <dt>
      <a href="/direct_messages">Send a message.</a>
      </dt>
      
      <% end %> 

      </dl>
  </div>
</div>

  <div class="row mb-3">
  <div class="col-md-12">
    <h2>
      Next calendar item
    </h2>
    <dl>

    <% if @current_user.calendar_items.at(0) != nil %> 

  <div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Date
        </th>

        <th>
          Event
        </th>

        <th>
        <a href="/calendars">View full calendar</a>
        </th>

      </tr>

      <% @current_user.calendar_items.each do |direct_message| %>
      <tr>


        <td>
          <%= calendar_items.at(0).date %>
        </td>


        <td>
          <%= calendar_items.at(0).description %>
        </td>

        <td>
          
        </td>

          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

   <% else %> 

      <dt>
        Your providers have not added any events. Please check back soon. 
      </dt>
      
      <% end %> 

      <% end %> 