<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      <%= @current_user.name %>, welcome to your dashboard
    </h1>
  </div>
</div>

<% if @current_user.provider == true %>

<div class="row mb-3">
  <div class="col-md-12">
    <h2>
      <%= @current_user.my_business_name %> subscribers
    </h2>
    <dl>

    <% if @current_user.user_provider_subscribers.at(0) != nil %> 

    <div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
         <th>
          Name
        </th>

        <th>
        Email
        </th>

         <th>
        Child name
        </th>

          <th>
        
        </th>

      </tr>

      <% @current_user.user_provider_subscribers.each do |family| %>
      <tr>
        
         <td>
          <%= family.name %>
        </td>

        <td>
          <%= family.email %>
        </td>

        <td>
          <%= family.child_name %>
        </td>

         <td>
      <form action="/delete_enrollment/<%= family.id %>" method="get">
      <button class="btn btn-block btn-outline-secondary">
        Delete enrollment
      </button>
      </form>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>
<% else %> 

      <dt>
        You do not have any subscribers. Please check back soon. 
      </dt>
      
      <% end %>

<hr>

 <div class="row mb-3">
  <div class="col-md-12">
    <h2>
      Inbox preview
    </h2>
     <p>
      <a href="/direct_messages">View and send messages.</a>
      </p>
    <dl>

    <% if @current_user.direct_messages.at(0) != nil %> 

  <div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          From
        </th>

        <th>
          Message
        </th>

        <th>
          Sent 
        </th>

      </tr>

      
      <tr>


        <td>
          <%= @current_user.direct_messages.at(0).sender.name %>
        </td>


        <td>
          <%= @current_user.direct_messages.at(0).body %>
        </td>

        <td>
          <%= time_ago_in_words(@current_user.direct_messages.at(0).created_at) %> ago
        </td>
          
      </tr>
     
    </table>
  </div>

   <% else %> 

      <dt>
        You have no direct messages. Please check back soon. 
      </dt>
      
      <% end %> 

      </dl>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <h2>
      Your last update
    </h2>
    <p>
        <a href="/updates">Add new updates</a>
      </p>
    <dl>

    <% if @current_user.user_provider_updates.at(0) != nil %> 

      <dt>
        Date
      </dt>
      <dd>
        <%= @current_user.user_provider_updates.at(0).date.to_formatted_s(:long) %>
      </dd>

      <dt>
        Reminders
      </dt>
      <dd>
        <%= @current_user.user_provider_updates.at(0).reminders %>
      </dd>

      <dt>
        Meals and snacks
      </dt>
      <dd>
        <%= @current_user.user_provider_updates.at(0).meals_and_snacks %>
      </dd>

      <dt>
        Activities
      </dt>
      <dd>
        <%= @current_user.user_provider_updates.at(0).activities %>
      </dd>

    </dl>
  </div>
</div>



 <% else %> 

      <dt>
        You have not posted an update. 
      </dt>
      
      <% end %> 

<hr>

 
<% else %>


<div class="row mb-3">
  <div class="col-md-12">
    <h2>
      Your providers
    </h2>
    <dl>

    <% if @current_user.my_providers.at(0) != nil %> 

    <div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
         <th>
          Name
        </th>

        <th>
        Administrator
        </th>

        <th>
        </th>
      </tr>

      <% @current_user.my_providers.each do |provider| %>
      <tr>
        
         <td>
          <%= provider.name %>
        </td>

        <td>
          <%= provider.admin_name %>
        </td>

        <td>
      <form action="/unsubscribe/<%= provider.id =%>" method="get">
      <button class="btn btn-block btn-outline-secondary">
        Unsubscribe
      </button>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<% else %> 

      <dt>
        You are not subscribed to any providers. <a href="/providers">Subscribe now.</a>
      </dt>
      
      <% end %>

      <p> 
      <a href="/providers">Add additional provider </a>
      </p>
      <hr>

<div class="row mb-3">
  <div class="col-md-12">
    <h2>
      Latest update
    </h2>
    <p>
        <a href="/updates">See all photos and updates</a>
      </p>
    <dl>

    <% if @current_user.my_latest_update != nil %> 

      <dt>
        Date
      </dt>
      <dd>
        <%= @current_user.my_latest_update.date.to_formatted_s(:long) %>
      </dd>

      <dt>
        Provider
      </dt>
      <dd>
        <%= @current_user.my_latest_update.author %>
      </dd>

      <dt>
        Reminders
      </dt>
      <dd>
        <%= @current_user.my_latest_update.reminders %>
      </dd>

      <dt>
        Meals and snacks
      </dt>
      <dd>
        <%= @current_user.my_latest_update.meals_and_snacks %>
      </dd>

      <dt>
        Activities
      </dt>
      <dd>
        <%= @current_user.my_latest_update.activities %>
      </dd>

    </dl>
  </div>
</div>



 <% else %> 

      <dt>
        Your providers have not posted an update. Please check back soon. 
      </dt>
      
      <% end %> 
<hr>


  <div class="row mb-3">
  <div class="col-md-12">
    <h2>
      Inbox preview
    </h2>
    <p>
    <a href="/direct_messages">View and send messages</a>
    </p>
    <dl>

    <% if @current_user.direct_messages.at(0) != nil %> 

  <div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          From
        </th>

        <th>
          Message
        </th>

        <th>
          Sent 
        </th>

      </tr>

      
      <tr>


        <td>
          <%= @current_user.direct_messages.at(0).sender.name %>
        </td>


        <td>
          <%= @current_user.direct_messages.at(0).body %>
        </td>

        <td>
          <%= time_ago_in_words(@current_user.direct_messages.at(0).created_at) %> ago
        </td>

      </tr>
      
    </table>
  </div>

   <% else %> 

      <dt>
        Your providers have not sent any direct messages. Please check back soon. 
      </dt>
      <dt>
      <a href="/direct_messages">Send a message.</a>
      </dt>
      
      <% end %> 

      </dl>
  </div>
</div>

<% end %> 