<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Enrollment #<%= @enrollment.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/enrollments" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_enrollment/<%= @enrollment.id %>" class="btn btn-block btn-outline-secondary">
          Delete enrollment
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Provider
      </dt>
      <dd>
        <%= @enrollment.provider_id %>
      </dd>

      <dt>
        Parent
      </dt>
      <dd>
        <%= @enrollment.parent_id %>
      </dd>

      <dt>
        Accepted
      </dt>
      <dd>
        <%= @enrollment.accepted %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@enrollment.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@enrollment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit enrollment
    </h2>

    <form action="/modify_enrollment/<%= @enrollment.id %>"  method="post" >
      <div class="form-group">
        <label for="provider_id_box">
          Provider
        </label>

        <input type="text" id="provider_id_box" name="provider_id_from_query" class="form-control" value="<%= @enrollment.provider_id %>">
      </div>

      <div class="form-group">
        <label for="parent_id_box">
          Parent
        </label>

        <input type="text" id="parent_id_box" name="parent_id_from_query" class="form-control" value="<%= @enrollment.parent_id %>">
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="accepted_box" name="accepted_from_query" value="1" <%= "checked" if @enrollment.accepted %>>

        <label class="custom-control-label"
          for="accepted_box">Accepted</label>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update enrollment
      </button>
    </form>
  </div>
</div>

<hr>
