<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      <%= @current_user.name %>, here are your daily updates
    </h1>
  </div>
</div>

<hr>

<% if @current_user.provider == true %>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new update
    </h2>

    <form action="/insert_update" method="post">
      
    <div class="form-group">
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="date_from_query" class="form-control" >
      </div>  
    
    <div class="form-group">
        <label for="reminders_box">
          Reminders
        </label>

        <input type="text" id="reminders_box" name="reminders_from_query" class="form-control" placeholder="Please label all winter clothes...">
      </div>

      <div class="form-group">
        <label for="meals_and_snacks_box">
          Meals and snacks
        </label>

        <textarea id="meals_and_snacks_box" name="meals_and_snacks_from_query" class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="activities_box">
          Activities
        </label>

        <input type="text" id="activities_box" name="activities_from_query" class="form-control" placeholder="Outside play...">
      </div>


      <button class="btn btn-block btn-outline-secondary">
        Create update and add photos
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <h2>
      Past Updates
    </h2>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
         <th>
          Date
        </th>

        <th>
        Show details
        </th>
      </tr>

      <% @updates.each do |update| %>
      <tr>
        
         <td>
          <%= update.date.to_formatted_s(:long) %>
        </td>

        <td>
          <a href="/updates/<%= update.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<% else %> 

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Latest update
    </h2>
    <dl>

      <dt>
        Date
      </dt>
      <dd>
        <%= @current_user.my_latest_update.date.to_formatted_s(:long) %>
      </dd>

      <dt>
        Provider
      </dt>
      <dd>
        <%= @current_user.my_latest_update.author %>
      </dd>

      <dt>
        Reminders
      </dt>
      <dd>
        <%= @current_user.my_latest_update.reminders %>
      </dd>

      <dt>
        Meals and snacks
      </dt>
      <dd>
        <%= @current_user.my_latest_update.meals_and_snacks %>
      </dd>

      <dt>
        Activities
      </dt>
      <dd>
        <%= @current_user.my_latest_update.activities %>
      </dd>

    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <table class="table">
      <tr>

        <th>
          Photos
        </th>

        <th>
          Caption
        </th>
        
      </tr>

       <% @current_user.my_latest_update.update_photos.each do |photo| %>
      <tr>

        <td>
          <img src ="<%= photo.image_url %>">
        </td>

        <td>
          <%= photo.caption %>
        </td>
        
      <% end %>
    
    </table>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Archive of past updates
    </h2>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <table class="table">
      <tr>
         <th>
          Date
        </th>

        <th>
          Provider
        </th>

        <th>
        Show details
        </th>
      </tr>

      <% @updates.each do |update| %>
      <tr>
        
         <td>
          <%= update.date.to_formatted_s(:long) %>
        </td>
    

        <td>
          <%= update.author %>
        </td>

        <td>
          <a href="/updates/<%= update.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<% end %>